In [1]:
import pandas as pd
import numpy as np

In [3]:
csv_path = '/content/gams_indoor.csv'
df = pd.read_csv(csv_path)
df.head()

                    ts    co2  humidity  pm10  pm25  temperature    voc
0  2016-11-21 00:47:03  708.0     72.09  10.2   9.0        20.83  0.062
1  2016-11-21 00:48:03  694.0     70.95  10.9  10.1        21.01  0.062
2  2016-11-21 00:49:03  693.0     69.12  10.2   9.9        21.20  0.062
3  2016-11-21 00:50:03  692.0     68.83   9.6   9.6        21.37  0.062
4  2016-11-21 00:51:03  690.0     68.60   9.4   8.4        21.49  0.062

In [4]:
labelsToDrop = ['voc']
df.drop(labelsToDrop, axis=1, inplace=True)
df.head()

                    ts    co2  humidity  pm10  pm25  temperature
0  2016-11-21 00:47:03  708.0     72.09  10.2   9.0        20.83
1  2016-11-21 00:48:03  694.0     70.95  10.9  10.1        21.01
2  2016-11-21 00:49:03  693.0     69.12  10.2   9.9        21.20
3  2016-11-21 00:50:03  692.0     68.83   9.6   9.6        21.37
4  2016-11-21 00:51:03  690.0     68.60   9.4   8.4        21.49

### Temperature labeling 

We expect that our operating room temperature conditions are ***comprised between 19°C and 26°C***

In [5]:
minTempC = 19
maxTempC = 26
df['temperature_label'] = df['temperature'].apply(lambda x : True if (x >= minTempC) & (x <= maxTempC) else False)
df.head()

                    ts    co2  humidity  ...  pm25  temperature  temperature_label
0  2016-11-21 00:47:03  708.0     72.09  ...   9.0        20.83               True
1  2016-11-21 00:48:03  694.0     70.95  ...  10.1        21.01               True
2  2016-11-21 00:49:03  693.0     69.12  ...   9.9        21.20               True
3  2016-11-21 00:50:03  692.0     68.83  ...   9.6        21.37               True
4  2016-11-21 00:51:03  690.0     68.60  ...   8.4        21.49               True

[5 rows x 7 columns]

### Humidity labeling

We expect that our operating room humidity conditions are ***comprised between 45% and 65%***.

In [11]:
min_hum = 45
max_hum = 65
df['humidity_label'] = df['humidity'].apply(lambda x : True if (x >= min_hum) & (x <= max_hum) else False)
df.head()

                    ts    co2  ...  humidity_label   ISO5
0  2016-11-21 00:47:03  708.0  ...           False  False
1  2016-11-21 00:48:03  694.0  ...           False  False
2  2016-11-21 00:49:03  693.0  ...           False  False
3  2016-11-21 00:50:03  692.0  ...           False  False
4  2016-11-21 00:51:03  690.0  ...           False  False

[5 rows x 9 columns]

### Micro particles labeling 

We expect that our operating room micro particles conditions should be smaller than 0.56 for particles of 2.5μm and smaller than 1.76 for particles of 10μm.

In [15]:
max_pm25 = 0.56
max_pm10 = 1.76

df['pm25_label'] = df['pm25'].apply(lambda x : True if (x <= max_pm25) else False)
df['pm10_label'] = df['pm10'].apply(lambda x : True if (x <= max_pm10) else False)
df.head()

                    ts    co2  humidity  ...   ISO5  pm25_label  pm10_label
0  2016-11-21 00:47:03  708.0     72.09  ...  False       False       False
1  2016-11-21 00:48:03  694.0     70.95  ...  False       False       False
2  2016-11-21 00:49:03  693.0     69.12  ...  False       False       False
3  2016-11-21 00:50:03  692.0     68.83  ...  False       False       False
4  2016-11-21 00:51:03  690.0     68.60  ...  False       False       False

[5 rows x 11 columns]

In [22]:
df['ISO5'] = np.where((df['temperature_label'] == True) & (df['humidity_label'] == True) & (df['pm10_label'] == True) & (df['pm25_label'] == True), True, False)
df.head()

                    ts    co2  humidity  ...   ISO5  pm25_label  pm10_label
0  2016-11-21 00:47:03  708.0     72.09  ...  False       False       False
1  2016-11-21 00:48:03  694.0     70.95  ...  False       False       False
2  2016-11-21 00:49:03  693.0     69.12  ...  False       False       False
3  2016-11-21 00:50:03  692.0     68.83  ...  False       False       False
4  2016-11-21 00:51:03  690.0     68.60  ...  False       False       False

[5 rows x 11 columns]

In [23]:
print(df[df['ISO5'] == True].sum())

ts                   2016-11-22 19:01:032016-11-22 20:42:02
co2                                                    1208
humidity                                              92.28
pm10                                                      1
pm25                                                      1
temperature                                            43.2
temperature_label                                         2
humidity_label                                            2
ISO5                                                      2
pm25_label                                                2
pm10_label                                                2
dtype: object